body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 50px;
    margin-bottom: 20px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.top h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.top input {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    padding:  0 10px;
}

.top input:focus {
    outline: 0;
}

#countries {
    border: 1px solid green;
    padding: 10px;
    width: 90%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    border-radius: 20px;
    margin-top: 25px;
}

.country {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 15px;
    width: auto;
    transition: 0.4s ease-out;
    height: auto;
    align-items: start;
}

.country:hover {
    z-index: 500;
    box-shadow: 5px 5px 30px 7px gray;
    scale: 1.05;
    border: 0;
}

.country h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 5px;
    line-height: 35px;
}

.country p {
    margin: 2px;
    font-size: 16px;
    font-weight: 500;
}

.country img {
    width: auto;
    border: 1px solid black;
}